body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.options {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

input[type="radio"] {
    margin-right: 8px;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #e5e5e5;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #e5e5e5;
    border-radius: 5px;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]:hover {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #e5e5e5;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #8f86f1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: #8f86f1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.zoom-step {
    padding: 15px 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px 0;
}